<%= form_with(model: [@vacation, off_time]) do |form| %>
  <div class="container w-50">
    <% if off_time.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(off_time.errors.count, "error") %> prohibited this off_time from being saved:</h2>

        <ul>
          <% off_time.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :starts_at, class: "form-label" %>
      <%= form.date_field :starts_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :ends_at, class: "form-label" %>
      <%= form.date_field :ends_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Create",class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to "Back to listing", vacations_path %>
    </div>
  </div>
<% end %>
