<p style="color: green"><%= notice %></p>

<%= render @off_time %>

<div>
  <%= link_to "Edit this off time", edit_off_time_path(@off_time) %> |
  <%= link_to "Back to off times", off_times_path %>

  <%= button_to "Destroy this off time", @off_time, method: :delete %>
</div>
