<!DOCTYPE html>
<html>
  <head>
    <title>Off-Time Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <%= link_to "Off-time manager", vacations_path, class: "navbar-brand"%>
      <% if current_user %>
        <ul class="navbar-nav">
          <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-danger" %>
          </li>
        </ul>
        <% end %>
      </nav>
    </header>
    <main class="container-fluid">
      <%= yield %>
    </main>
  </body>
</html>
