<!DOCTYPE html>
<html>
  <head>
    <title>OffTimeManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <%= link_to "Offtime manager", vacations_path, class: "navbar-brand"%>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled text-danger" href="#">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container-fluid">
      <%= yield %>
    </main>
  </body>
</html>
